# Terraform state & working files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl.backup
crash.log

# Secrets / environment-specific — NEVER commit
terraform.tfvars
*.auto.tfvars
backend.hcl
secrets.auto.tfvars

# TLS material / keys
*.pem
*.key
id_ed25519*
id_rsa*

# macOS
.DS_Store

# bootstrap local state
bootstrap/.terraform/
bootstrap/*.tfstate
bootstrap/*.tfstate.*
